---
import BaseLayout from "../layouts/baseLayout.astro";
---
<link rel="stylesheet" href="../../styles/about.css">
<BaseLayout title="About Page">
    <div class="aboutSection">
        <div class="textBlock">
            <h3>DJ Hyper</h3>
            <p>Guy James Hatfield (born 23 February 1977) better known by his stage name DJ Hyper or just Hyper, 
            is a British DJ, producer and remixer, known for his use of live bass, guitars and uncompromising vocals. 
            He has done remixes for artists such as BT and Paul Van Dyk and his music has been featured on TV and in trailers and video games.
            Hyper has releases on labels such as Distinct'ive Breaks Records, Bedrock Records, and Positiva Recordings. 
            He has also performed as a band featuring The Prodigy's members Leeroy Thornhill and Jim Davies along with co-producer John Ross on drums. 
            Their first studio album We Control advanced Hyper to the stages of festivals, including Glastonbury, 
            The Glade, the Sziget Festival in Hungary and Coliseo Ciudad de Atarfe in Spain. 
            Their second album Suicide Tuesday was released in September 2008.
            Hyper is currently under his own Kilowatt label.</p>
        </div>
        <div class="image">
            <p><img src="../Images/hyper-lies-cover-art.webp" alt="Picture"></p>
            <p>Cover For the Album "Lies"</p>
        </div>
</BaseLayout>