---
// Archive page providing information about all posts //

import BaseLayout from "../layouts/baseLayout.astro";
---


<BaseLayout title="Archive">
    <link rel="stylesheet" href="../../styles/post.css">
    <p>Welcome to Archives where you can find all of our users posts and their comments.</p>

    <script type="module" src="/scripts/archive.js"></script>

    <div id="archive"></div>
    
</BaseLayout>