---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Home Page">
    <p>Welcome To my site You can find One of the Artist I chose in the About page.<br>
    Our latest posts in the tour page.<br>
    Finally In the playsit page you can add new music to the list and shuffle them.</p>
</BaseLayout>