---
// Home page with welcome message and scripts for authentication and last 5 posts //

import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Home Page">
  <link rel="stylesheet" href="../../styles/post.css">
  <p>Welcome to the home page Here is the Last 5 posts published by our users.</p>

  <div id="posts"></div>

  <script type="module" src="/scripts/dashboardAuth.js"></script>

  <script type="module" src="/scripts/posts.js"></script>

</BaseLayout>
