---
import BaseLayout from "../layouts/baseLayout.astro";
---
<link rel="stylesheet" href="../../styles/playlist.css">
<BaseLayout title="Playlist Page">

    <script is:inline type="module" src="../../scripts/playlist.js" defer></script>
    
    <div id="musicContainer">
        <div class="input">
            <input type="text" id="musicInput" placeholder="Enter Music">
            <button id="addMusic">Add Music</button>
        </div>
        <ul id="newList"></ul>
    </div>

</BaseLayout>