<footer>
    
    <div class="gclink">
        <p><a href="https://www.griffith.ie"><img src="../Images/Griffith Logo.png" alt="Logo"></a></p>
    </div>
    <div class="extraInfo">
        <p>Burak Atak 3199405</p>
        <p>2025 Web Frameworks Assignment 1</p>
        <h4>Disclamer</h4>
        <p>This is a student project for learning purposes only. It is not intended for commercial use or distribution.</p>
        <p>All content, including text and images, is used solely for educational purposes.</p>
    </div>
</footer>