---
const { user } = Astro.props
---
<header>
    <div class="headerTitle">
        <h2>Welcome To My Blog Post Site </h2>
    </div>
    <div class="navContainerHeader">
        <nav>
            <ul>
                <li><a href="/register">register</a></li>
                <li><a href="/signin">Sign In</a></li>  
            </ul>
        </nav>
    </div>
</header>
