<header>
    <div class="personal">
        <h2><a href="index.html">Burak Atak</a> </h2>
        <h2>3199405</h2>
    </div>
    <p><img src="../Images/CV Burak Atak.jpg" alt="Personal Picture"></p>
</header>