/*CSS File for About Page*/
div.aboutSection{
    margin: 2rem;
    padding: 2rem;
    border: #0D0A0B 2px solid;
    border-radius: 0.2rem;
    background-color: #e7edf3;
    width: 70%;
    display: flex;
    justify-content: space-between;        
}
div.image{
    margin-left: 2rem;
    img{
        width: 15rem;
        height: auto;
        border: #0D0A0B 2px solid;
        border-radius: 0.2rem;
    }
}
