/*CSS for dashboard page*/

#postsContainer {
    border-bottom: #666 1px solid;
    .postDateTime {
        font-size: 0.9rem;
        color: #666;
    }
    .post {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    }
    .commentAuthor {
        color: #666;
    }
}