/*CSS File For Posts Goes Inside Index and Archive pages*/
#postsContainer {
    border: #666 1px solid;
    margin-bottom: 0.1rem;
    padding: 0.3rem;
    .postAuthor {
        font-size: 0.9rem;
        color: #666;
    }
    .post {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    }
    .commentAuthor {
        color: #666;
    }
}
.postHeader {
  display: flex;
  align-items: center;
}

.togglePostBtn {
  margin-left: auto;
  cursor: pointer;
}

