/*CSS File for the Tour Page*/
div.postsList {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: #255dd3;
        border: black 2px solid;
        padding: 1rem;
        border-radius: 0.2rem;
        background-color: #e7edf3;
    }
    a:hover{
        text-decoration: none;
    }
}
