---
export const prerender = false;
import Navigation from "../components/navigation.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import { createSupabaseServerClient } from "../lib/supabaseServer"
const supabase = createSupabaseServerClient(Astro.request);

const { title } = Astro.props;
const supabaseUrl = import.meta.env.PUBLIC_SUPABASE_URL;
const supabaseAnonKey = import.meta.env.PUBLIC_SUPABASE_ANON_KEY;
const {
  data: { user }
} = await supabase.auth.getUser()
---
<html>
    <link rel="stylesheet" href="../../styles/general.css">
    

    <head>

        <meta lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>
<!-- Supabase Client Setup -->
        <script define:vars={{
          supabaseUrl,
          supabaseAnonKey
        }}>
          window.PUBLIC_SUPABASE_URL = supabaseUrl;
          window.PUBLIC_SUPABASE_ANON_KEY = supabaseAnonKey;
        </script>
  </head>
    </head>
    <body>
        <Header title={title} user={user} />
        <Navigation pageTitle={title} />
<!--Main Area Only Thing That Changes Between Pages -->
		<main>
            <slot />
		</main>
<!--End of Main Area -->
        <Footer />
    </body>
</html>